html,body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #444;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.header {
    width: 10%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5.5rem 0rem;
    height: 100%;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    align-items: center;
    transform: rotate(-180deg);
    background-color: red;
}

.landing {
    /* width: 100%; */
    /* padding: 2rem; */
}

.landing section {
    /* padding: 4rem; */
}